language: node_js

node_js:
    - "stable"
    - "6"

notifications:
    email: false

branches:
  only:
    - master
    - /^v[0-9].*$/

after_success:
  - npm run report-coverage -- -e TRAVIS_NODE_VERSION